<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="test" >
        <classes>
            <class name="CheckMultipleCheckboxDemo" />
            <class name="CheckShowMessage" />
            <class name="CheckDays" />
            <class name="MultiSelectListDemo" />
            <class name="RadioBuutonCheck" />
            <class name="TwoInputFields" />
        </classes>
    </test>

</suite>
